  <div class="action-user">
  <%= form_tag admin_users_path, method: :get, id: "search-form" do %>
    <%= text_field_tag :search, params[:search], class: "form-control",
      placeholder: (t ".placeholder_user"), id: "tf-search-user" %>
    <%= submit_tag t(".search"), class: "btn btn-default btn-search",
      id: "btn-search-user"%>
  <% end %>
</div>
<h1><%= t ".listuser" %></h1>
<div class="col-md-12">
  <table class="table table table-hover text-center">
    <tr class="table-title">
      <th class="text-center"><%= t ".userid" %></th>
      <th class="text-center"><%= t ".firstname" %></th>
      <th class="text-center"><%= t ".lastname" %></th>
      <th class="text-center"><%= t ".email" %></th>
      <th class="text-center"><%= t ".signupdate" %></th>
      <th class="text-center"></th>
      <th class="text-center"></th>
      <th class="text-center"></th>
    </tr>
    <%= render "users" %>
  </table>
  <%= paginate @users %>
</div>

<%= javascript_include_tag "admin/user" %>
